
body {
    background-color: aquamarine;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    height: 72px;
    background: gray;
    color: white;
    font-size: 32px;
    font-weight: 900;
    border: 1px solid white;
    display: flex;
    align-items:center;
    justify-content: center;
}
.container {
    display: flex;
    flex: 1;
    flex-direction:row;
    padding: 0px;
}
.innerContainer {
    display: flex;
    flex: 1;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    
}

.mainBody {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid gray;
    width: 300px;
}

.item {
    width: 4px;
    height: 4px;
    margin: 0px;

}

.menu {
    width: 130px;
    background: royalblue;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 16px;
}